.h2{
  color: orange;
  letter-spacing: 20px;
  word-spacing: 20px;
  margin: 20px 0px 50px 0px;;
  font-size: 50px;
}
.content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px; 
  background: rgba(0, 0, 0, );
  transition: opacity 0.8s ease; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
} 

.map,
.info,
.reviews {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 100%;
  opacity: 0; 
  transition: opacity 0.8s ease;
}


.content:hover{
  background: rgba(0, 0, 0, 0.8);
  transition: background 0.8s ease;
}

.content:hover .map,
.content:hover .info,
.content:hover .reviews {
  opacity: 1;
}

.box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100vw; 
  overflow: hidden;
  position: relative;
}

.image-link {
  display: block;
  width: 100%;
  object-fit: cover;
}

.content:hover .map:hover,
.content:hover .info:hover,
.content:hover .reviews:hover {
  opacity: 1;
  width: 70%; 
  transition: width 0.8s ease;
}

.content:hover .info:hover .info2{
  opacity: 1;
  transition: opacity 0.5s ease;
}

/* .content:hover .map:hover ~ .info, */
.content:hover .map:hover ~ .reviews,
.content:hover .map:hover ~ .map,
.content:hover .info:hover ~ .reviews,
.content:hover .reviews:hover ~ .map,
.content:hover .reviews:hover ~ .info {
  width: 40%; 
  transition: width 0.8s ease;
}

.info{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

/* .info2-container {
  text-align: left;
  font-size: 30px;
  color: orange;
  max-width: 100%;
} */

.info2 {
  font-size: 30px;
    color: orange;
  padding-left: 20px;
  text-align: justify;
  white-space: pre-wrap;
  width: 550px;
  opacity: 0.5;
}

.bar {
  border: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 200px;
}

/*The same thing done but with flex grow. The transition looks wose*/

/* .map,
.info,
.reviews {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1; 
  opacity: 0; 
  transition: opacity 0.8s ease; 
}

.content:hover .map,
.content:hover .info,
.content:hover .reviews {
  opacity: 1;
}

.map:hover,
.info:hover,
.reviews:hover {
  flex-grow: 2;
  transition: flex-grow 0.8s ease;
}
 */

 .input {
  padding: 10px;
  width: 80px;
  height: 80px;
  background: none;
  border: 4px solid orange;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 26px;
  color: orange;
  text-align: center;
  outline: none;
  transition: .5s;
  transform: translateX(-50%);
}
.box2 {
  position: absolute;
  left: 90%;
  top: 10.8%;
}

.box2:hover input {
  width: 350px;
  background: #3b3640;
  border-radius: 10px;
}

.nrf{
  width: 100vw;
}