
.headertit{
 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 999;
    text-align: center;
    padding: 10px 0; 
    transition: background-color 0.3s; 
        
}

.headertit:hover{
    background-color: rgba(0, 0, 0, 0.9);
    
}

.headertitle{
    margin: 2px;
    font-size: 1em; /*2em*/
    transition: font-size 0.3s;

}

.headerlink{
    font-family: 'Cinema St Regular', sans-serif;
    color: white; 
    height: 150px;
}



