.rentalpage {
    margin-top: 6.5em;
    text-align: center;
    color: white;
  }

.h2 {
    color: orange;
    letter-spacing: 20px;
    word-spacing: 20px;
    margin: 40px;
    font-size: 50px;
  }

  
