.image-link{
    display: inline-block;
    position: relative;

}

.image-link:hover img {
    transform: scale(1);
}

.h1{
    color: white;
    margin: 20px 0px 50px 0px;
}

.image{
    width: 100vw;
    height: auto; 
    /* transition: transform 0.3s ease;  */
} 